name: serious_python
description: A cross-platform plugin for adding embedded Python runtime to your Flutter apps.
homepage: https://flet.dev
repository: https://github.com/flet-dev/serious-python
version: 0.7.1

platforms:
  ios:
  android:
  macos:
  windows:
  linux:

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.7.0"

flutter:
  plugin:
    platforms:
      android:
        default_package: serious_python_android
      ios:
        default_package: serious_python_darwin
      macos:
        default_package: serious_python_darwin
      windows:
        default_package: serious_python_windows
      linux:
        default_package: serious_python_linux

dependencies:
  flutter:
    sdk: flutter
  serious_python_platform_interface:
    path: ../serious_python_platform_interface
  serious_python_android:
    path: ../serious_python_android
  serious_python_darwin:
    path: ../serious_python_darwin
  serious_python_windows:
    path: ../serious_python_windows
  serious_python_linux:
    path: ../serious_python_linux

  path_provider: ^2.1.3
  archive: ^3.6.1
  path: ^1.9.0
  args: ^2.5.0
  toml: ^0.15.0
  http: ^1.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  plugin_platform_interface: ^2.1.6
  flutter_lints: ^2.0.0