skip_branch_with_pr: true

environment:
  FLUTTER_VERSION: 3.29.3
  GITHUB_TOKEN:
    secure: 9SKIwc3VSfYJ5IChvNR74mEv2nb0ZFftUzn3sGRdXipXEfKSxY50DoodChHvlqZduQNhjg0oyLWAAa3n+iwWvVM2yI7Cgb14lFNClijz/kHI/PibnjDMNvLKaAygcfAc

  matrix:
    - job_name: Test on macOS
      job_group: test_serious_python
      job_depends_on: build_python_darwin
      APPVEYOR_BUILD_WORKER_IMAGE: macos-monterey

    - job_name: Test on iOS
      job_group: test_serious_python
      job_depends_on: build_python_darwin
      APPVEYOR_BUILD_WORKER_IMAGE: macos-ventura

    - job_name: Test on Android
      job_group: test_serious_python
      job_depends_on: build_python_android
      APPVEYOR_BUILD_WORKER_IMAGE: ubuntu-gce-c

    - job_name: Test on Windows
      job_group: test_serious_python
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022

    - job_name: Test on Linux
      job_group: test_serious_python
      APPVEYOR_BUILD_WORKER_IMAGE: ubuntu2004

    - job_name: Test on Linux ARM64
      job_group: test_serious_python
      APPVEYOR_BUILD_WORKER_IMAGE: ubuntu2204-arm

    - job_name: Publish serious_python package to pub.dev
      job_group: publish_package
      job_depends_on: build_python, test_serious_python
      APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu2004

stack:
- python 3.12

for:
  # ======================================
  #      Test on macOS
  # ======================================

  - matrix:
      only:
        - job_name: Test on macOS

    install:
      - HOMEBREW_NO_AUTO_UPDATE=1 brew install cocoapods
      - source ci/install_flutter.sh
      - flutter config --enable-macos-desktop
      - flutter doctor -v
      - xcodebuild -version

    build: off

    test_script:
      - export SERIOUS_PYTHON_SITE_PACKAGES=$APPVEYOR_BUILD_FOLDER/site-packages
      - cd src/serious_python/example/flet_example
      - dart run serious_python:main package app/src -p Darwin -r flet
      - flutter test integration_test -d macos

  # ======================================
  #      Test on iOS
  # ======================================

  - matrix:
      only:
        - job_name: Test on iOS

    install:
      - HOMEBREW_NO_AUTO_UPDATE=1 brew install cocoapods
      - source ci/install_flutter.sh
      # - xcrun simctl list runtimes
      # - xcrun simctl create "e2e test" "iPhone 12" "com.apple.CoreSimulator.SimRuntime.iOS-17-2"
      # - xcrun xctrace list devices
      # - |
      #     UDID=$(xcrun xctrace list devices | grep "^e2e test Simulator (17.2)" | awk '{gsub(/[()]/,""); print $NF}')      
      #     echo $UDID
      #     xcrun simctl boot "${UDID:?No Simulator with this name found}"

    build: off

    test_script:
      - export SERIOUS_PYTHON_SITE_PACKAGES=$APPVEYOR_BUILD_FOLDER/site-packages
      - cd src/serious_python/example/flet_example
      - dart run serious_python:main package app/src -p iOS -r flet
      - flutter build ios --no-codesign
      # - flutter drive --driver=test_driver/integration_test.dart --target=integration_test/app_test.dart

  # ======================================
  #      Test on Android
  # ======================================

  - matrix:
      only:
        - job_name: Test on Android

    install:
      - API_LEVEL="33"
      - TARGET="google_atd"
      - ARCH="x86_64"
      - DEVICE_NAME="android_emulator"
      - DEVICE_TYPE="pixel_5"
      - 'export PATH=$ANDROID_SDK_ROOT/platform-tools:$ANDROID_SDK_ROOT/emulator:$PATH'
      - sdkmanager "platform-tools" "platforms;android-${API_LEVEL}"
      - sdkmanager --install "system-images;android-${API_LEVEL};${TARGET};${ARCH}"
      - sdkmanager --update
      - echo "y" | sdkmanager --licenses
      - echo "no" | avdmanager -v create avd --force --name "${DEVICE_NAME}" --package "system-images;android-${API_LEVEL};${TARGET};${ARCH}" --tag "${TARGET}" --sdcard 128M --device "${DEVICE_TYPE}"
      - ls -al ~/.android/avd
      - sudo adduser $USER kvm
      - sudo chown $USER /dev/kvm
      - emulator -avd "${DEVICE_NAME}" -memory 2048 -wipe-data -no-boot-anim -cache-size 1000 -noaudio -no-window -partition-size 8192 &
      - adb wait-for-device shell 'while [[ -z $(getprop dev.bootcomplete) ]]; do sleep 1; done;'
      - source ci/install_flutter.sh

    build: off

    test_script:
      - export SERIOUS_PYTHON_SITE_PACKAGES=$APPVEYOR_BUILD_FOLDER/site-packages
      - cd src/serious_python/example/flet_example
      - dart run serious_python:main package app/src -p Android -r flet
      - flutter test integration_test -d emulator-5554


  # ======================================
  #      Test on Windows
  # ======================================

  - matrix:
      only:
        - job_name: Test on Windows

    #environment:
    #  VC_REDIST_DIR: 'C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Redist\MSVC\14.29.30133\x64\Microsoft.VC142.CRT'

    install:
      - dart pub global activate fvm
      - set PATH=%LOCALAPPDATA%\Pub\Cache\bin;%USERPROFILE%\fvm\default\bin;%PATH%
      - fvm install %FLUTTER_VERSION%
      - fvm global %FLUTTER_VERSION%
      - flutter --version
      - flutter doctor

    build: off

    test_script:
      - set SERIOUS_PYTHON_SITE_PACKAGES=%APPVEYOR_BUILD_FOLDER%\site-packages
      - cd src/serious_python/example/flet_example
      - dart run serious_python:main package app/src -p Windows -r flet
      - flutter test integration_test -d windows

  # ======================================
  #      Test on Linux
  # ======================================

  - matrix:
      only:
        - job_name: Test on Linux

    install:
      - sudo apt update --allow-releaseinfo-change
      - sudo apt install -y xvfb libgtk-3-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libgstreamer-plugins-bad1.0-dev gstreamer1.0-plugins-base gstreamer1.0-plugins-good gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly gstreamer1.0-libav gstreamer1.0-doc gstreamer1.0-tools gstreamer1.0-x gstreamer1.0-alsa gstreamer1.0-gl gstreamer1.0-gtk3 gstreamer1.0-qt5 gstreamer1.0-pulseaudio
      - source ci/install_flutter.sh

    build: off

    test_script:
      - export SERIOUS_PYTHON_SITE_PACKAGES=$APPVEYOR_BUILD_FOLDER/site-packages
      - cd src/serious_python/example/flet_example
      - dart run serious_python:main package app/src -p Linux -r flet
      - xvfb-run flutter test integration_test -d linux

  # ======================================
  #    Test on Linux ARM64
  # ======================================

  - matrix:
      only:
        - job_name: Test on Linux ARM64

    install:
      # Flutter SDK
      - sudo sed -i "/#\$nrconf{restart} = 'i';/s/.*/\$nrconf{restart} = 'a';/" /etc/needrestart/needrestart.conf
      - sudo apt update -y --allow-releaseinfo-change
      - sudo apt install -y clang ninja-build xvfb libgtk-3-dev gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly gstreamer1.0-libav
      - git clone https://github.com/flutter/flutter.git -b stable "$HOME/flutter"
      - export PATH="$PATH:$HOME/flutter/bin"
      - source ci/install_flutter.sh

    build: off

    test_script:
      - export SERIOUS_PYTHON_SITE_PACKAGES=$APPVEYOR_BUILD_FOLDER/site-packages
      - cd src/serious_python/example/flet_example
      - dart run serious_python:main package app/src -p Linux -r flet
      - xvfb-run flutter test integration_test -d linux

  # =========================================
  # Publish serious_python package to pub.dev
  # =========================================

  - matrix:
      only:
        - job_name: Publish serious_python package to pub.dev

    install:
      # update build version
      - ps: |
          if ($env:APPVEYOR_REPO_TAG_NAME) {
            $env:PKG_VER = $env:APPVEYOR_REPO_TAG_NAME.replace("v", "")
          } else {
            $cv = [version](git describe --abbrev=0).substring(1)
            $env:PKG_VER = "$($cv.major).$($cv.minor).$($env:APPVEYOR_BUILD_NUMBER)"
          }
          Write-Host "Package version: $($env:PKG_VER)"

      - pip3 install pyyaml
      - flutter upgrade --force

    build_script:
      # publish package
      - sh: |
          if [[ "$APPVEYOR_REPO_TAG_NAME" != "" ]]; then
            mkdir -p $HOME/.config/dart
            echo $PUB_DEV_TOKEN | base64 --decode > $HOME/.config/dart/pub-credentials.json

            # patch pubspecs
            python3 ci/patch_pubspec.py src/serious_python_platform_interface/pubspec.yaml $PKG_VER
            python3 ci/patch_pubspec.py src/serious_python/pubspec.yaml $PKG_VER
            python3 ci/patch_pubspec.py src/serious_python_android/pubspec.yaml $PKG_VER
            python3 ci/patch_pubspec.py src/serious_python_darwin/pubspec.yaml $PKG_VER
            python3 ci/patch_pubspec.py src/serious_python_windows/pubspec.yaml $PKG_VER
            python3 ci/patch_pubspec.py src/serious_python_linux/pubspec.yaml $PKG_VER

            cd src/serious_python_platform_interface
            dart pub publish --force
            cd $APPVEYOR_BUILD_FOLDER

            sleep 600

            cd src/serious_python_android
            dart pub publish --force
            cd $APPVEYOR_BUILD_FOLDER

            cd src/serious_python_darwin
            dart pub publish --force
            cd $APPVEYOR_BUILD_FOLDER

            cd src/serious_python_windows
            dart pub publish --force
            cd $APPVEYOR_BUILD_FOLDER

            cd src/serious_python_linux
            dart pub publish --force
            cd $APPVEYOR_BUILD_FOLDER

            sleep 600

            cd src/serious_python
            dart pub publish --force || exit 1
            cd $APPVEYOR_BUILD_FOLDER

          elif [[ "$APPVEYOR_PULL_REQUEST_NUMBER" == "" ]]; then

            cd src/serious_python_platform_interface
            dart pub publish --dry-run
            cd $APPVEYOR_BUILD_FOLDER

            cd src/serious_python_android
            dart pub publish --dry-run
            cd $APPVEYOR_BUILD_FOLDER

            cd src/serious_python_darwin
            dart pub publish --dry-run
            cd $APPVEYOR_BUILD_FOLDER

            cd src/serious_python_windows
            dart pub publish --dry-run
            cd $APPVEYOR_BUILD_FOLDER

            cd src/serious_python_linux
            dart pub publish --dry-run
            cd $APPVEYOR_BUILD_FOLDER

            cd src/serious_python
            dart pub publish --dry-run
            cd $APPVEYOR_BUILD_FOLDER
          fi

    test: off